**/log
**/logs
**/classes
**/.settings
**/.myumldata
**/.mymetadata
**/.myeclipse
**/.idea
**/.project
**/.classpath
**/.externalToolBuilders
**/target
**/.idea/
**/.factorypath
**/.tern-project
**/bainuo_Manager.iml
**/bainuo-common.iml
**/bainuo-manager-api.iml
**/manager-api.iml
**/bainuo-manager.iml
**/manager-dao.iml
**/manager-pojo.iml
**/manager-web.iml
**/bainuo.iml
**/.iml
/README.md
/.apt_generated/
/.mvn
/src/main/resources/generatorConfig-bainuo.xml
/.springBeans
/src/main/resources/generatorConfig-bainuomanager.xml
.DS_Store
*/.DS_Store
*/*.iml
*.iml
**/.apt_generated/
**/.mvn
**/src/main/resources/generatorConfig-bainuo.xml
**/.springBeans
**/src/main/resources/generatorConfig-bainuomanager.xml
**/.DS_Store
/bainuo-manager-api/manager-api/manager-api.iml
/bainuo-manager/bainuo-manager.iml
/bainuo-manager/manager-web/manager-web.iml